.App {
  text-align: left;
  margin-left: 40px;
  margin-top: 40px;
}

.InputClass {
  margin-left: 5px;
  width: 200px;
}

.DisplayBlockClass {
  display: block;
  margin: 10px;
}

.CheckboxCSS {
  display:block;
  margin: 5px;
}

/* td, th, TableCSS {
  width: 100%;
  padding: 8px;
} */

table {
  width: 100%;
}

th, td {
  font-weight: bold;
  text-align: center;
}